body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e6f7ff;
}

header{
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: #023e8a;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 20px;
}
section{
    margin-bottom: 40px;
}

img{
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}

table{
    border-collapse: collapse;
    width: 60%;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

footer{
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 15px;
}